{% extends "Caretaker/caretakerindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Caretaker Home</title>
</head>

<body>
<a href="/view_blind">View Blind</a><br>
<a href="/add_blind">Add Blind</a><br>
<a href="/view_emergency">View emergency</a><br>
<a href="/view_accident">View accident</a><br>
<a href="/video_call">Video call</a><br>
<a href="/add_review">Send review</a><br>
<a href="/logout">logout</a>

</body>
</html>
{% endblock %}