{% extends "Caretaker/caretakerindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<b><h1>View Blind Details</h1></b>
<form id="form1" name="form1" method="post" action="">
<table width="200" border="1" class="table table-striped table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Age</th>
    <th scope="col">Gender</th>
    <th scope="col">Mobile</th>
    <th scope="col">Address</th>
    <th scope="col">Email</th>
    <th scope="col">Known Person</th>
    <th scope="col">Location</th>
    <th scope="col">&nbsp;</th>
  </tr>
    {% for i in data2 %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>{{ i.blind_name }}&nbsp;</td>
    <td>{{ i.blind_age }} </td>
      <td>{{ i.blind_gender }}</td>
    <td>{{ i.blind_mob }}</td>
    <td>place:{{ i.blind_place }}<br>Pin:{{ i.blind_pin }}</td>
    <td>{{ i.blind_email }}</td>
    <td><p><a href="/add_knownperson/{{ i.blind_id }}#abc"style="color:cyan">Add Known Person</a></p>
    <p><a href="/view_knownperson/{{ i.blind_id }}#abc"style="color:cyan">View Known Person</a></p></td>
    <td><a href="https://www.google.com/maps/?q={{ i.loc_latitude }},{{ i.loc_longitude }}"style="color:cyan;letter-spacing:1.8px;"><u><b>TRACK</b></u></a></td>
    <td>
      <p><a href="/update_blind/{{ i.blind_id }}#abc"style="color:#33FF00">Update</a>
      </p>
      <p><a href="/delete_blind/{{ i.blind_id }}#abc"style="color:#FF4500">Delete</a></p>
   </td>
  </tr>
    {% endfor %}
</table>
     </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
