{% extends "Caretaker/caretakerindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<b><h1>View Accidents</h1></b>
<table width="200" border="1" class="table table-striped table-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Accident Date</th>
    <th scope="col">Place</th>
        <th scope="col">Blind</th>
  </tr>
 {% for i in data %}  <tr>
     <td>{{ loop.index }}</td>
     <td>{{ i.accident_date }}</td>
     <td> <a href="https://www.google.com/maps/?q={{ i['loc_latitude'] }},{{ i['loc_longitude'] }}" style="color:cyan;letter-spacing:1.8px;"><u><b>TRACK</b></u></a></td>
 <td>{{ i.blind_name }}</td>
  </tr>
      {% endfor %}
</table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}